body {
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
img {
  max-width: 400px;
  margin: auto;
  margin-top: 10vh;
  height: 20vh;
}

.rocket-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: gold;
}

.rocket {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: launch ease-in 5s;
}

@keyframes launch {
  0% {
    bottom: 0;
    opacity: 1;
    transform: translateX(-50%) scale(0.4);
  }
  50% {
    bottom: 80vh;
    transform: translateX(-50%) scale(0.7);
  }
  80% {
    bottom: 15vh;
    transform: translateX(-50%) scale(0.9);
  }
  100% {
    top: 10vh;
    transform: translateX(-50%) scale(1);
  }
}

/* Orbit animation */
.orbit {
  animation: orbit 6s linear infinite;
}

@keyframes orbit {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
